<p id="notice"><%= notice %></p>
<div class="text-center">
  <tbody>
    <% @articles.each do |article| %>
      <%= link_to image_tag(article.photo.url(:medium)), article %>
      <h3><%= link_to article.title, article %></h3>
      <br>
      <br><br><br>
    <% end %>
  </tbody>
</div>