<p id="notice"><%= notice %></p>
<div class="text-center">
  <tbody>
  	<div id="main-container" class="container">
	  	<div class="row">

			  <% @recipes.each do |recipe| %>
			  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-2">
				  	<%= link_to image_tag(recipe.photo.url(:medium)), recipe %>
				    <h3><%= link_to recipe.title.downcase, recipe %></h3>
				    <br>
				    <br><br><br>
					</div>
			  <% end %>
	    </div>
    </div>
  </tbody>
</div>